// -----------------------------------------------------------------------------
// This file contains all application-wide breakpoints.
// -----------------------------------------------------------------------------
@use "../abstracts/functions" as f;

@use "sass:map";

$breakpoints: (
  "xs": 0px,
  "sm": 30.0625em,
  // 481px
  "md": f.rem(768),
  // 721px
  "lg": f.rem(1024),
  // 961px
  "xl": f.rem(1280)
);

@mixin breakpoint($bp, $w: min-width) {
  $value: map.get($breakpoints, $bp);

  @if $value == null {
    @media ($w: $bp) {
      @content;
    }
  } @else {
    @if $w == max-width {
      // Subtract 1px from the bp
      $value: $value - 0.0625em;
    }
    @media ($w: $value) {
      @content;
    }
  }
}
