@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_breakpoints.scss" as b;

.cart_menu {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  z-index: 10;
  padding-block: var(--padding);
  padding-inline: var(--g-padding);
  gap: f.rem(40);
  transition: 150ms ease-in-out transform;
  transform: translateX(100vw);

  @include b.breakpoint(md) {
    inset: 0 0 0 auto;
    width: f.rem(390);
    border-left: f.rem(1) solid var(--gray);
  }
}

.cart_heading {
  display: flex;
  justify-content: space-between;
}
