// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Manrope:wght@200..800&display=swap");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100vh;
  color: var(--text-white);
  background-color: var(--background-color);
  font-family: var(--text-ff);
}
